/data
/static-search
/saxon
/build_app

/html
/xslt
amp-app.xpr
attributes.sh
build_index.sh
build.xml
copy-task.xml
dl_fundament.sh
dl_imprint.sh
dl_saxon.sh
dl_staticsearch.sh
fetch_data.sh
fetch_data_entities.sh
script.sh
ss_config.xml
staticSearch_listDir.sh
stopwords.txt
words.txt

/env
denormalize.sh
requirements.txt
*.xpr
